doctype html
html
 head
    title API Documentation
 body
    h1 API Documentation
    h2 Authors
    ul
      li
        a(href="/api/author") Get All Authors
      li
        a(href="/api/author/new") Create New Author
      li
        a(href="/api/author/:id") Get Author by ID
      li
        a(href="/api/author/:id/edit") Update Author by ID
      li
        a(href="/api/author/:id/delete") Delete Author by ID

    h2 Around
    ul
      li
        a(href="/api/around") Get All Arounds
      li
        a(href="/api/around/new") Create New Around
      li
        a(href="/api/around/:id") Get Around by ID
      li
        a(href="/api/around/:id/edit") Update Around by ID
      li
        a(href="/api/around/:id/delete") Delete Around by ID