doctype html
html
 head
    title API Documentation
 body
    h1 API Documentation
    h2 Books
    ul
      li
        a(href="/api/book") Get All Books
      li
        a(href="/api/book/new") Create New Book
      li
        a(href="/api/book/:id") Get Book by ID
      li
        a(href="/api/book/:id/edit") Update Book by ID
      li
        a(href="/api/book/:id/delete") Delete Book by ID
                    